* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #21222A;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
  
}

.nav--icon {
  height: 40px;
  margin-right: 7px;
}

.main--title{
  font-size: 1.7rem;
  color: #61DAFB;
  padding-left: 70px;
  letter-spacing: -0.05em;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #21222A;
}
.main--content{
  font-size: 1.3rem;
  color: #ffffff;
  justify-content: center;
  padding-left: 70px;
}

.list--items{
  padding: 0 100px;
}
.list--items > li{
  padding-block: 10px;
  font-size: 1.3rem;
  color: #fff;
}

.list--items > li::marker{
  font-size: 1.4rem;
  color: #61DAFB;
}

.video--container > iframe{
  margin-left: 180px;
}
footer{
  color: #61DAFB;
  margin-top: 30px;
  font-weight: 700;
  font-size: 22px;
}